<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Обо мне</title>
    <link rel="stylesheet" href="juliapro/static/custom.css">

</head>
<body>
<div class="about_me">

    <p><img src="juliapro/static/img/julia.png" width="350px" class="leftimg">

    </br>
    <p><span class="text-4"> ОБО МНЕ </span></p>
    Юлия Бартоломей - международный профориентолог, карьерный консультант, тренер по soft skills.
    <ul>
    <li>Дипломированный специалист в области управления персоналом, социальной работы и профориентации.</li>
    <li>Опыт работы в сфере подбора, обучения оценки персонала более 10 лет.</li>
    <li>Провела более 5000 собеседований, более 300 консультаций и тренингов.</>
    <li>С 2019 года дипломированный специалист по направлению "Международный профориентолог".</li>
    <li>Провожу онлайн и офлайн консультации подростков и взрослых в индивидуальном формате.</li>
    <li>Использую современные методики профориентации, Digital Human, типологию PEM, коучинговые техники и игровые практики.</li>
    <li>Веду групповой профориентационный тренинг для подростков “Осознанный выбор профессиии” офлайн и групповые тренинги по soft skills для подростков и взрослых.</li>
    <li>Ведущий профориентационных игр “Ключи к карьере” и “ПрофХ”.</li>
    <li>Сертифицированный JUNIOR ЭКСПЕРТ на платформе SKILLFOLIO.</li>
    <li>Мама 2 дочерей и 1 лысого кота.</li>
    </ul>
    </p>
</br>
</br>
    <p><span class="text-4"> РЕЗУЛЬТАТЫ  КОНСУЛЬТАЦИИ</span></p>
    <ul>
    ПОДРОСТКОВ:
        <li>оценка склонностей и навыков (коммуникации, логическое мышление, стрессоустойчивость, эмоциональный интеллект и другие)</li>
        <li>рекомендации подходящих сферы по ценностям и интересам</li>
        <li>разработка предметной стратегию для сдачи ОГЭ и ЕГЭ</li>
        <li>рекомендации по выбору дополнительной подготовки к экзаменам с гарантией поступления</li>
        <li>рекомендации по выбору вузов или сузов</li>
</br>
ВЗРОСЛЫХ:
        <li>скрининг опыта</li>
        <li>диагностика ценностей, компетенций и мотиваторов</li>
        <li>выявление возможных сценариев, потенциальных сфер, ролей, профессий и  должностей</li>
        <li>рекомендации по ситуации с учетом трендов рынка труда и личных особенностей</li>
        <li>разработка плана действий по переходу в новую сферу</li>
        <li>психологическая поддержка в процессе решения, поиска и перехода</li>
        <li>скрининг резюме и рекомендации по усилению вашего резюме как "продающего”</li>
        <li>подготовка к собеседованию, разбор сложных для вас вопросов и рекомендации</li>
</ul>

</div>
</body>
</html>